@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;700&display=swap');

$base-color: #00a6fb;
$inter-color: #e5e5e5;
$hover-color: #eff8fe;
$active-color: #dfeef8;
$icon-active-color: #fff;
$icon-inactive-color: #ffffff78;
$font-striked-out-color: #aaa;
$font-color: #000;

$base-font: 'Manrope', sans-serif;
// General
::-webkit-scrollbar {
	width: 3px;
}
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: $base-color;
}
body {
   margin: 0;
   min-height: 100vh;
   font-family: $base-font;
}
.wrapper {
	height: 100vh;
   display: grid;
	grid-template-columns: 50px auto 1fr;
	grid-template-rows: 100vh;
}
.container {
	max-width: 1100px;
	max-height: calc(100vh - 2rem);
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}
.icon {
   width: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.btn {
	&:hover {
		background: $hover-color;
	}
	&:active {
		background: $active-color !important;
	}
}
// Left bar
.left-bar {
	padding: 1rem 0.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: $base-color;
		&__profile {
			width: 35px;
			height: 35px;
			background: $active-color;
			border-radius: 5px;
			margin: 0 0 2rem 0;
			cursor: pointer;
		}

		&__icons {
			display: flex;
			flex-direction: column;
			gap: 10px;
			&_b {
				flex: 1;
			}
			.icon {
				filter: invert(97%) sepia(0%) saturate(1212%) hue-rotate(218deg) brightness(113%) contrast(87%);
				cursor: pointer;
				&:hover,
				&.active {
					filter: invert(96%) sepia(100%) saturate(0%) hue-rotate(98deg) brightness(103%) contrast(107%);
				}
			}
		}
}
// Menu
.menu {
	grid-column-start: 2;
	padding: 1rem 0.5rem;
	min-width: 250px;
	display: flex;
	flex-direction: column;
	border-right: 1px solid $inter-color;
	transition: all 0.5s ease;
	width: 42px;
	white-space: nowrap;
	overflow: hidden;
	&.inactive {
		min-width: 0;
		.section__title {
			transform: translateX(12px);
		}
	}
		&__sections {
			margin: 0 0 1.4rem 0;
			position: relative;
			&:after {
				content: '';
				position: absolute;
				left: 0;
				bottom: -0.7rem;
				width: 100%;
				height: 1px;
				background: $inter-color;
			}
		}

		&__sect-title {
			font-weight: 700;
			&:hover {
				background: transparent !important;
				cursor: inherit;
			}
		}

		&__projects {
			flex: 1;
		}
}
.section {
	display: flex;
	align-items: center;
	gap: 5px;
	padding: 0.5rem;
	border-radius: 5px;
	cursor: pointer;
	&:hover {
		background: $hover-color;
	}
	&.active {
		background: $active-color;
	}
		&__icon {
			.triangle {
				transform: rotate(90deg);
			}
		}

		&__title {
			transition: all 0.3s ease;
		}
	.icon {
		width: 25px;
	}
}
.content {
	padding: 1rem 1.5rem;
}
.header {
	display: flex;
	align-items: center;
	gap: 5px;
	margin: 0 0 2rem 0;
		#menu_btn {
			transition: all 0.5s ease;
		}
		&__icon {
			transform: translateY(2px);
			padding: 0.3rem;
			border-radius: 5px;
			img { filter: invert(74%) sepia(66%) saturate(6105%) hue-rotate(169deg) brightness(98%) contrast(101%); }
		}
		&__title {
			flex: 1;
			font-size: 1.8rem;
			font-weight: 700;
		}
}
.add-task {
	display: flex;
	align-items: center;
	gap: 5px;
	margin: 0 0 1rem 0;
	&__btn {
		background: transparent;
		border: none;
		padding: 0.3rem;
		border-radius: 5px;
		cursor: pointer;
		img { filter: invert(74%) sepia(66%) saturate(6105%) hue-rotate(169deg) brightness(98%) contrast(101%); }
	}

	&__input {
		flex: 1;
		position: relative;
		input {
			width: 100%;
			box-sizing: border-box;
			padding: 0.5rem 0.3rem;
			background: $hover-color;
			border: 2px solid $active-color;
			border-radius: 5px;
			outline: none;
			font-size: 1.2rem;
			font-family: $base-font;
			font-weight: 700;
			&:focus {
				background: $active-color;
				border: 2px solid $base-color;
			}
			&:not(:placeholder-shown) {
				&+label {
					display: none;
				}
			}
		}
		label {
			position: absolute;
			left: 0.4rem;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}
.tasks {
	flex: 1;
	overflow: auto;
	&::-webkit-scrollbar-thumb {
		visibility: hidden;
		transition: all 0.5s ease;
	}
	&:hover::-webkit-scrollbar-thumb {
		visibility: visible;
	}
		&__task {
			margin: 0 0 0.5rem 0;
		}
}
.task {
	display: flex;
	align-items: center;
	gap: 7px;
	padding: 0.5rem;
	border: 1px solid $inter-color;
	border-left: 2px solid red;
	border-radius: 5px;
	&:hover {
		background: $hover-color;
	}
		&__checkbox {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 20px;
			height: 20px;
			border: 3px solid $inter-color;
			border-radius: 50%;
			cursor: pointer;
			span {
				color: $base-color;
				transform: scale(0);
				transition: 0.2s cubic-bezier(.16,.66,1,1.99);
			}
			&:active {
				background: $active-color;
			}
			&.striked {
				border-color: $base-color;
				span {
					transform: scale(1);
				}
			}
		}

		&__title {
			transition: 0.3s ease;
			.task__checkbox.striked + & {
				color: $font-striked-out-color;
			}
			flex: 1;
			span { position: relative; }
			span:after {
				content: '';
				position: absolute;
				left: 0;
				top: 50%;
				transform: scaleX(0) translateY(-50%);
				width: 100%;
				height: 2px;
				background: $font-striked-out-color;
				transition: 0.3s ease;
			}
			.task__checkbox.striked + & span:after {
				transform: scaleX(1);
			}
		}

		&__date {
		}

		&__icon {
			cursor: pointer;
			img {
				width: 20px;
				filter: invert(80%) sepia(0%) saturate(1554%) hue-rotate(222deg) brightness(87%) contrast(86%);
				&:hover {
					filter: invert(47%) sepia(8%) saturate(29%) hue-rotate(322deg) brightness(95%) contrast(84%);
				}
			}
			&.del img {
				filter: none;
			}
		}
}