@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;700&display=swap');

$base-color: #00a6fb;
$inter-color: #e5e5e5;
$hover-color: #eff8fe;
$active-color: #dfeef8;
$icon-active-color: #fff;
$icon-inactive-color: #ffffff78;
$font-color: #000;
$font-inter-color: #757575;
$font-striked-out-color: #aaa;

$base-font: 'Manrope', sans-serif;
// General
::-webkit-scrollbar {
	width: 3px;
}
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: $base-color;
}
body {
   margin: 0;
   min-height: 100vh;
   font-family: $base-font;
	color: $font-color;
}
.wrapper {
	height: 100vh;
   display: grid;
	grid-template-columns: 50px auto 1fr;
	grid-template-rows: 100vh;
}
.container {
	max-width: 1100px;
	max-height: calc(100vh - 2rem);
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}
.icon {
   width: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.btn {
	&:hover {
		background: $hover-color;
	}
	&:active {
		background: $active-color !important;
	}
}
input,
textarea {
	font-family: $base-font;
}
// Left bar
.left-bar {
	padding: 1rem 0.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: $base-color;
		&__profile {
			width: 35px;
			height: 35px;
			background: $active-color;
			border-radius: 5px;
			margin: 0 0 2rem 0;
			cursor: pointer;
		}

		&__icons {
			display: flex;
			flex-direction: column;
			gap: 10px;
			&_b {
				flex: 1;
			}
			.icon {
				filter: invert(97%) sepia(0%) saturate(1212%) hue-rotate(218deg) brightness(113%) contrast(87%);
				cursor: pointer;
				&:hover,
				&.active {
					filter: invert(96%) sepia(100%) saturate(0%) hue-rotate(98deg) brightness(103%) contrast(107%);
				}
			}
		}
}
// Menu
.menu {
	grid-column-start: 2;
	padding: 1rem 0.5rem;
	min-width: 250px;
	display: flex;
	flex-direction: column;
	border-right: 1px solid $inter-color;
	transition: all 0.5s ease;
	width: 42px;
	white-space: nowrap;
	overflow: hidden;
	&.inactive {
		min-width: 0;
		.section__title {
			transform: translateX(12px);
		}
	}
		&__sections {
			margin: 0 0 1.4rem 0;
			position: relative;
			&:after {
				content: '';
				position: absolute;
				left: 0;
				bottom: -0.7rem;
				width: 100%;
				height: 1px;
				background: $inter-color;
			}
		}

		&__sect-title {
			font-weight: 700;
			&:hover {
				background: transparent !important;
				cursor: inherit;
			}
		}

		&__projects {
			flex: 1;
		}
}
.section {
	display: flex;
	align-items: center;
	gap: 5px;
	padding: 0.5rem;
	border-radius: 5px;
	cursor: pointer;
	&:hover {
		background: $hover-color;
	}
	&.active {
		background: $active-color;
	}
		&__icon {
			.triangle {
				transform: rotate(90deg);
			}
		}

		&__title {
			transition: all 0.3s ease;
		}
	.icon {
		width: 25px;
	}
}
// Tasks
.content {
	padding: 1rem 1.5rem;
}
.header {
	display: flex;
	align-items: center;
	gap: 5px;
	margin: 0 0 2rem 0;
		#menu_btn { transition: transform 0.5s ease; }
		&__icon {
			transform: translateY(2px);
			padding: 0.3rem;
			border-radius: 5px;
			img { filter: invert(74%) sepia(66%) saturate(6105%) hue-rotate(169deg) brightness(98%) contrast(101%); }
		}
		&__title {
			flex: 1;
			font-size: 1.8rem;
			font-weight: 700;
		}
}
.add-task {
	margin: 0 0 1rem 0;
	&__form {
		display: flex;
		align-items: center;
		gap: 5px;
	}
	&__btn {
		background: transparent;
		border: none;
		padding: 0.3rem;
		border-radius: 5px;
		cursor: pointer;
		img { filter: invert(74%) sepia(66%) saturate(6105%) hue-rotate(169deg) brightness(98%) contrast(101%); }
	}

	&__input {
		flex: 1;
		position: relative;
		input {
			width: 100%;
			box-sizing: border-box;
			padding: 0.5rem 0.3rem;
			background: $hover-color;
			border: 2px solid $active-color;
			border-radius: 5px;
			outline: none;
			font-size: 1.2rem;
			font-weight: 700;
			&:focus {
				background: $active-color;
				border: 2px solid $base-color;
			}
			&:not(:placeholder-shown) {
				&+label { display: none; }
			}
		}
		label {
			position: absolute;
			left: 0.4rem;
			top: 50%;
			transform: translateY(-50%);
			cursor: inherit;
		}
	}
}
.tasks {
	flex: 1;
	overflow: auto;
	&::-webkit-scrollbar-thumb {
		visibility: hidden;
		transition: all 0.5s ease;
	}
	&:hover::-webkit-scrollbar-thumb {
		visibility: visible;
	}
		&__task {
			margin: 0 0 0.5rem 0;
		}
}
.task {
	display: flex;
	align-items: center;
	gap: 7px;
	padding: 0.5rem;
	border: 1px solid $inter-color;
	border-radius: 5px;
	&[data-priority="p1"] { border-left: 3px solid #e63946; }
	&[data-priority="p2"] { border-left: 3px solid #6e44ff; }
	&[data-priority="p3"] { border-left: 3px solid #38b000; }
	&[data-priority="p4"] { border-left: 3px solid #aaa; }
	&.pinned {
		background: $hover-color;
	}
	&:hover {
		background: $hover-color;
	}
		&__checkbox {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 20px;
			height: 20px;
			border: 3px solid $inter-color;
			border-radius: 50%;
			cursor: pointer;
			span {
				color: $base-color;
				transform: scale(0);
			}
			&:active {
				background: $active-color;
			}
			&.striked {
				border-color: $base-color;
				span {
					transition: 0.2s cubic-bezier(.16,.66,1,1.99);
					transform: scale(1);
				}
			}
		}

		&__title {
			transition: 0.3s ease;
			.task__checkbox.striked + & {
				color: $font-striked-out-color;
			}
			flex: 1;
			span { position: relative; }
			span:after {
				content: '';
				position: absolute;
				left: 0;
				top: 50%;
				transform: scaleX(0) translateY(-50%);
				width: 100%;
				height: 2px;
				background: $font-striked-out-color;
				transition: 0.3s ease;
			}
			.task__checkbox.striked + & span:after {
				transform: scaleX(1);
			}
		}

		// &__date {
		// }

		&__icon {
			cursor: pointer;
			img {
				width: 20px;
				filter: invert(80%) sepia(0%) saturate(1554%) hue-rotate(222deg) brightness(87%) contrast(86%);
				&:hover {
					filter: invert(47%) sepia(8%) saturate(29%) hue-rotate(322deg) brightness(95%) contrast(84%);
				}
			}
			&.del img {
				filter: none;
			}
		}
}
// Task popup
.task-popup {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #0003;
	visibility: hidden;
	&.active {visibility: visible;}
	&__form {
		padding: 1.5rem 2rem 2rem;
		background: #fff;
		border-radius: 10px;
		position: relative;
		transform: scale(0);
		transition: all 0.3s linear;
		.task-popup.active & {transform: scale(1);}
	}

	&__close-btn {
		position: absolute;
		right: 2rem;
		top: 2rem;
		width: 25px;
		height: 25px;
		border-radius: 5px;
		background: $base-color;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		&:before,
		&:after {
			content: '';
			position: absolute;
			width: 15px;
			height: 3px;
			border-radius: 2px;
			background: #fff;
			transform: rotate(45deg);
		}
		&:after {
			transform: rotate(-45deg);
		}
	}

	h2 { 
		margin: 0 0 1rem 0;
		font-size: 2rem;
	}

	&__container {
		display: flex;
		gap: 2rem;
	}

	&__input {
		position: relative;
		&:first-child { margin: 0 0 1rem 0; }
		input,
		textarea {
			padding: 0.5rem;
			width: 400px;
			outline: none;
			font-size: 1.2rem;
			border: 1px solid $inter-color;
			border-radius: 5px;
			max-width: 600px;
			max-height: 500px;
			&:not(:placeholder-shown) + label {display: none;}
		}
		label {
			position: absolute;
			left: 10px;
			top: 12px;
			color: $font-inter-color;
			cursor: text;
		}
	}

	&__selections {
		display: flex;
		flex-direction: column;
	}

	&__selection:not(:last-child) {
		margin: 0 0 1rem 0;
	}
	&__btn-cnt {
		flex: 1;
		display: flex;
		align-items: end;
		justify-content: end;
	}
	&__btn {
		justify-items: end;
		right: 2rem;
		bottom: 2rem;
		width: 50px;
		height: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		background: $base-color;
		border: none;
		font-size: 3rem;
		color: #fff;
		cursor: pointer;
	}
}
.selection {
	width: 200px;
	[data-priority="p1"] img { filter: invert(28%) sepia(61%) saturate(4816%) hue-rotate(341deg) brightness(99%) contrast(83%); }
	[data-priority="p2"] img { filter: invert(29%) sepia(69%) saturate(4367%) hue-rotate(244deg) brightness(100%) contrast(106%); }
	[data-priority="p3"] img { filter: invert(72%) sepia(84%) saturate(5067%) hue-rotate(65deg) brightness(97%) contrast(104%); }
	[data-priority="p4"] img { filter: invert(80%) sepia(0%) saturate(1554%) hue-rotate(222deg) brightness(87%) contrast(86%); }
	&__selected {
		border-radius: 5px;
		margin: 0 0 0.5rem 0;
		position: relative;
		box-shadow: 0 0 10px $inter-color;
		img {
			width: 23px;
			transform: translateY(1px);
		}
		&:after {
			content: url('../../dist/images/arrow.svg');
			position: absolute;
			width: 20px;
			height: 20px;
			right: 5px;
			top: 50%;
			transform: translateY(-50%);
			transition: all 0.5s ease;
		}
	}

	&__box {
		display: flex;
		flex-direction: column;
		label { cursor: pointer; }
	}

	&__container {
		max-height: 0;
		width: 100%;
		border-radius: 5px;
		box-shadow: 0 0 10px $inter-color;
		transition: 0.3s ease;
		overflow: hidden;
		order: 1;
		&.active {
			max-height: 100px;
			overflow-y: auto;
			& + .selection__selected {
				background: $hover-color;
			}
			& + .selection__selected:after {
				transform: translateY(-50%) rotateX(180deg);
			}
		}
	}

	&__option,
	&__selected {
		display: flex;
		align-items: center;
		gap: 3px;
		padding: 0.5rem;
		cursor: pointer;
		&:hover {
			background: $hover-color;
		}
		&:active {
			background: $active-color;
		}
		img {
			width: 23px;
			transform: translateY(1px);
		}
	}

	&__radio {
		display: none;
	}
}
.task-popup {
	&__form { min-width: 200px; }

	&__title {
		font-size: 1.5rem;
		color: $font-inter-color;
	}

	&__title-text {
		font-size: 1.3rem;
		margin: 0 0 1rem 0;
		position: relative;
		&:after {
			content: '';
			position: absolute;
			left: 0;
			bottom: -0.8rem;
			width: 100%;
			height: 2px;
			background: $inter-color;
		}
	}

	&__description {
		font-size: 1.5rem;
		color: $font-inter-color;
	}

	&__description-text {
		font-size: 1.1rem;
		max-width: 500px;
	}
}